body, html {
    background-color: grey;
    height: 100%;
    margin: 0;
}

.bg1 {
    background-image: url("https://cache.larvf.com/data/photo/w1000_ci/1ju/tequila-spiritueux.jpg");
}

.bg2 {
    background-image: url("https://m.media-amazon.com/images/I/71dDrguSSSL._AC_SL1149_.jpg");
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: rgb(169, 211, 34);
}